.card_main_div{
    margin: 50px auto;
}
.my_card{
    width:850px;
    display:flex;
    /* align-items: center; */
    margin: 20px auto;
    color: white;
    border-bottom: 2px solid rgb(44, 44, 44);
    padding: 10px 0px;
    padding-top: 0px;
    /* border-radius: 5px; */
}
.my_card:hover{
    opacity: .6;
    transition: 1.5s;
}
.load{
    /* color: wheat; */
    display: flex;
    justify-content: center;
    text-align: center;
}
.load img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.img_sec p{
    margin-top: 10px;
    font-size: 1.3em;
}
.img_sec img{
    width: 400px;
}
.detail_sec{
    margin-left: 20px;
}
a{
    text-decoration: none ;
}
.detail_sec p{
    color: rgb(140, 117, 186);
    font-size: 1.3em;
    margin-top: 10px;

}
.detail_sec span{
    display: inline-block;
    margin-top: 10px;
    font-size: 1.2em;
}
.dash{
    margin: 0px 5px;
}
.empty{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date_inp_div{
    width: 300px;
    margin: 20px auto;
    color: white;
}
.date_inp_div input{
    padding: 7px 10px;
    outline: none;
    margin-top: 10px;
    width: 300px;
}